root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

[*.{cs,vb}]
# CS1591: Missing XML comment for publicly visible type or member (SA1600/SA1601/SA1602 cover this with more nuance)
dotnet_diagnostic.CS1591.severity = none
# SA1000: Keywords should be spaced correctly
dotnet_diagnostic.SA1000.severity = none
# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none
# SA1010: Opening square brackets or parentheses should be spaced correctly
dotnet_diagnostic.SA1010.severity = none
# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = warning
# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = warning
# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none
# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none
# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = warning
# IDE1006 Naming rule violation: Prefix '_' is not expected
dotnet_diagnostic.IDE1006.severity = none
# CA2254 The logging message template should not vary between calls.
dotnet_diagnostic.CA2254.severity = none
# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false:suggestion
# IL2026: Members annotated with 'RequiresUnreferencedCodeAttribute' require dynamic access otherwise can break functionality when trimming application code
dotnet_diagnostic.IL2026.severity = none
# IL3050: Calling members annotated with 'RequiresDynamicCodeAttribute' may break functionality when AOT compiling.
dotnet_diagnostic.IL3050.severity = none
# CA1848: Use the LoggerMessage delegates
dotnet_diagnostic.CA1848.severity = none
# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none
# IDE0079: Remove unnecessary suppression
dotnet_diagnostic.IDE0079.severity = none
# CA1707: Identifiers should not contain underscores (Unit Test method names often use underscores)
dotnet_diagnostic.CA1707.severity = none
# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none
# MA0004: Use Task.ConfigureAwait(false)
dotnet_diagnostic.MA0004.severity = none
# MA0051: Method is too long
dotnet_diagnostic.MA0051.severity = none
# MA0182 Internal type never used
dotnet_diagnostic.MA0182.severity = none
# MA0038 Make method static
dotnet_diagnostic.MA0038.severity = none
# SA1402: File may only contain a single type
dotnet_diagnostic.SA1402.severity = error
# IDE0051: Remove unused private members (methods, fields, properties)
dotnet_diagnostic.IDE0051.severity = warning

[tests/**/*.cs]
# SA0001: All diagnostics of XML documentation comments has been disabled due to the current project configuration.
dotnet_diagnostic.SA0001.severity = none
# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none
# SA1601: Partial elements should be documented
dotnet_diagnostic.SA1601.severity = none
# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none
